@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-weight:normal;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:7100;}
h1{font-size:18px}
h2{font-size:16px}
h3{font-size:14px}
h4{font-size:14px}
h5{font-size:12px}
h6{font-size:12px}
q:before,q:after{content:''}
abbr,acronym{border:0}
hr {margin: 0;padding: 0;border: 0;color: #CDCDCD;background-color: #CDCDCD;height: 1px}
blockquote{color:#666;font-style:italic;}
sup,sub{line-height:0}
abbr,acronym{border-bottom:1px dotted #666}
pre{white-space:pre;}
pre,code,tt{font:12px 'andale mono', 'lucida console', monospace;line-height:1.5}
/*clear clearfix*/
.clearfix:after {content: "\0020"; display: block; height: 0;clear: both; visibility: hidden; }
.clearfix {zoom: 1;} 
.clear{clear:both;}
/* CSS Document */
.SDemo-title{height:50px}
.SDemo-title h1{height:50px;background-color:#333;padding-left:20px;line-height:50px;font-size:24px;font-family:\5fae\8f6f\96c5\9ed1,\9ed1\4f53;color:#FFFFFF}
h3{margin:5px;font-size:20px}
pre{background-color:#FFFDDE;margin:10px 0;padding:10px}
#page{margin-left:100px}
table.KS-table{border-top:none;border-right:none;border-bottom:1px solid #6790ad;border-left:1px solid #6790ad;}
table.KS-table caption{height:40px;line-height:40px;border:1px solid #6790ad;border-bottom:0 none;padding-left:10px;font-size:12px;font-weight:700;color:#F00;background-color:#EFF3F8}
table.KS-table td,table.KS-table th{border-top:1px solid #6790ad;border-right:1px solid #6790ad;border-bottom:none;border-left:0;padding:3px}
table.KS-table th{height:30px;background-color:#EFF3F8}
/* temp1 */
#temp1{height:301px;width:709px;background:url(../images/bg.png) no-repeat}
#temp1 .JQ-content-box{float:left;overflow:hidden;width:549px;height:289px;margin:6px 0 0 6px;_margin:6px 0 0 3px;position:relative}
#temp1 .JQ-content-box .JQ-slide-content{position:absolute}
#temp1 .JQ-content-box .JQ-slide-content li{zoom:1;overflow:hidden;height:289px;vertical-align:text-top}
#temp1 .JQ-content-box .JQ-slide-content li img{width:549px;height:289px;display:block}
#temp1 .JQ-slide-nav{display:block;float:right;width:145px;height:301px;overflow:hidden;}
#temp1 .JQ-slide-nav li{display:inline;float:left;padding-left:12px;padding-bottom:6px;width:133px;height:61px;padding-top:6px;margin-bottom:3px;background:url(../images/nom.png)}
#temp1 .JQ-slide-nav li.on{display:inline;float:left;padding-left:12px;padding-bottom:6px;width:133px;height:61px;padding-top:6px;margin-bottom:3px;background:url(../images/on_box.png)}
#temp1 .JQ-slide-nav li img{width:127px;height:61px;display:block}
/* temp2 */
#temp2{height:301px;width:709px;background:url(../images/bg.png) no-repeat}
#temp2 .JQ-content-box{float:left;overflow:hidden;width:549px;height:289px;margin:6px 0 0 6px;_margin:6px 0 0 3px;position:relative}
#temp2 .JQ-content-box .JQ-slide-content{position:absolute}
#temp2 .JQ-content-box li{width:549px;height:289px;float:left;}
#temp2 .JQ-slide-nav{display:block;float:right;width:145px;height:301px;overflow:hidden;}
#temp2 .JQ-slide-nav li{display:inline;float:left;padding-left:12px;padding-bottom:6px;width:133px;height:61px;padding-top:6px;margin-bottom:3px;background:url(../images/nom.png)}
#temp2 .JQ-slide-nav li.on{display:inline;float:left;padding-left:12px;padding-bottom:6px;width:133px;height:61px;padding-top:6px;margin-bottom:3px;background:url(../images/on_box.png)}
#temp2 .JQ-slide-nav li img{width:127px;height:61px;display:block}
/* temp3 */
#temp3{height:301px;width:709px;background:url(../images/bg.png) no-repeat}
#temp3 .JQ-content-box{float:left;overflow:hidden;width:549px;height:289px;margin:6px 0 0 6px;_margin:6px 0 0 3px;position:relative}
#temp3 .JQ-content-box .JQ-slide-content  li{position:absolute;top:0;left:0}
#temp3 .JQ-content-box img{width:549px;height:289px;display:block}
#temp3 .JQ-slide-nav{display:block;float:right;width:145px;height:301px;overflow:hidden;}
#temp3 .JQ-slide-nav li{display:inline;float:left;padding-left:12px;padding-bottom:6px;width:133px;height:61px;padding-top:6px;margin-bottom:3px;background:url(../images/nom.png)}
#temp3 .JQ-slide-nav li.on{display:inline;float:left;padding-left:12px;padding-bottom:6px;width:133px;height:61px;padding-top:6px;margin-bottom:3px;background:url(../images/on_box.png)}
#temp3 .JQ-slide-nav li img{width:127px;height:61px;display:block}
/* slide-box */
#slide-box{width:690px;position:relative;height:472px;}
#slide-box .corner{clear:both;border-top:#333 1px solid;display:block;overflow:hidden;height:0;margin:0 1px;}
#slide-box .slide-content{background:#333;padding:10px;}
#slide-box .JQ-slide-content{position:absolute;}
#slide-box .JQ-slide-nav a{display:block;z-index:99;width:37px;color:#b4b4b4;position:absolute;top:205px;height:65px;text-decoration:none;}
#slide-box .JQ-slide-nav span{display:block;background:#4b4b4b;font:700 53px arial;width:37px;cursor:pointer;height:63px;text-align:center;}
#slide-box .JQ-slide-nav .corner{border-color:#4b4b4b;}
#slide-box .JQ-slide-nav .prev{left:-10px;}
#slide-box .JQ-slide-nav .next{right:-10px;}
#slide-box .wrap{overflow:hidden;width:670px;height:450px;position:relative;}
#slide-box ul{width:10000px;}
#slide-box li{float:left;width:340px;height:450px;}
#slide-box li img{width:330px;height:450px;}
#slide-box .JQ-slide-nav a:hover,#slide-box .JQ-slide-nav a:hover span{color:#f43d1e;}
/* temp5 */
#temp5{overflow:auto}
#temp5 .JQ-content-box{width:300px;height:100px;min-height:25px;line-height:25px;border:#ccc 1px solid;overflow:hidden}
#temp5 .JQ-slide-content{}
#temp5 .JQ-slide-content li{height:25px;padding-left:10px;}
/* temp6 */
#temp6 .JQ-content-box{overflow:hidden;width:710px;height:144px;position:relative}
#temp6 .JQ-slide-content{position:absolute}
#temp6 .JQ-slide-content li{zoom:1;overflow:hidden;height:144px;vertical-align:text-top}
#temp6 img{display:block;}
#temp6 .JQ-slide-nav{position:absolute;right:10px;bottom:10px;height:18px;padding-top:2px;}
#temp6 .JQ-slide-nav li{background-color:#FFE0EB;border:1px solid #FF6699;color:#D94B01;cursor:pointer;float:left;font-size:12px;height:16px;line-height:16px;margin-left:3px;text-align:center;width:16px;}
#temp6 .JQ-slide-nav li.on{background-color:#EB3C65;border-color:#9A102F;color:#FFFFFF;font-weight:bold;height:18px;line-height:18px;margin-top:-2px;width:18px;}
#temp6 .JQ-slide-nav li img{display:block}