<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="styles/chat.css" />
    <script type="text/javascript" src="scripts/sea.js"></script>
    <script type="text/javascript" src="scripts/config.js"></script>
    <script>
        window.ZM = {};
        ZM.AJAX = {};
        ZM.AJAX.postMessageURL = "ajax/postMessageURL.json"; //向服务器发消息
        ZM.AJAX.pullpostMessageURL = "ajax/postMessageURL.json"; //接收服务器消息
    </script>
    <title></title>
</head>
<body>
    <div id="chat" class="chatbox clearfix">
        <div class="chatmain l">
            <div class="chatheader clearfix">
                    <div class="l usermainnifno">
                        <div class="selfimg l"><img src="images/wx_pic.png" alt=""/></div>
                        <div class="seftinfo l">
                            <span class="name">我的用户名</span>
                            <img src="images/loading.gif" alt=""/>
                        </div>
                    </div>
                    <div class="packup r">收起</div>
            </div>
            <div class="screen">
                <ul class="screenUl">
                    <script type="text/template" id="chatContList">
                        <li><p class="cont"><%= msg %></p></li>
                    </script>
                    <script type="text/template" id="chatContListAll">
                        <% _.each(colle,function(obj){%>
                        <li><p class="cont"><%= obj.msg %></p></li>
                        <% }); %>
                    </script>
                    <!--<li><div class="name">其他用户名：</div><p class="cont">其他用的发言内容</p></li>-->
                    <!--<li>-->
                        <!--<div class="name">其他用户名：</div>-->
                        <!--<p class="cont">其他用的发言其他用其他用的发言内容的发言内容其他用的发言内容其他用的发言内容内容<span class="sysinfo">（Vip发言信息）</span></p>-->
                    <!--</li>-->
                </ul>
            </div>
            <div class="sendbox">
                <div class="emoticons">
                    <ul class="clearfix">
                        <li>
                            <img src="images/pass.png" alt=""/>
                        </li>
                        <li>
                            <img src="images/pass.png" alt=""/>
                        </li>
                        <li>
                            <img src="images/pass.png" alt=""/>
                        </li>
                        <li>
                            <img src="images/pass.png" alt=""/>
                        </li>
                    </ul>
                </div>
                <div class="enterbox">
                    <div class="enter l"><textarea name="" id="entercont"></textarea></div>
                    <a href="javascript:;" class="sendbtn l" data-channel="worldchannel">发送</a>
                </div>
            </div>
        </div>
        <div class="chatsidebar l">
            <div class="search clearfix">
                <div class="seainp l">
                    <input type="text" placeholder="请输入好友名字" id="searchFriendIpt"/>

                    <div id="searchResult" style="display:none;">

                    </div>
                    <script id="searchResultTemplate" type="text/x-jquery-tmpl">
                            <li id="s-friend-${id}">${name}</li>
                    </script>
                </div>
            </div>
            <div class="channel" id="channel">
                <h2>聊天频道</h2>
                <ul class="channelList">
                    <li class="current" data-channelname = "worldchannel"><p>世界频道<span class="onlinenum">（3000人在线）</span></p></li>
                    <li data-channelname = "syschannel"><p>系统通知</p></li>
                    <script type="text/template" id="friendsList">
                        <li data-channelname = <%= socId %>><p><%= name %></p><span class="close">X</span></li>
                    </script>
                </ul>

                <!--好友聊天列表-->
                <ul>
                    <li id="friend-chat-${id}">

                        <div class="infonum r">100</div>
                    </li>

                </ul>

            </div>
            <div class="friends" id="friends">
                <h2>我的好友</h2>
                <ul id="myFriendsList">
                </ul>
                <script type="text/x-jquery-tmpl" id="friendsListTemplate">
                    <li class="on" id="friend-${id}">
                        <i class="honor">${honor}</i>
                        <i>${vip}</i>
                        <span>${name}</span>
                        <span>${online}</span>
                        <span>${hasMessage}</span>
                        <em class=" "></em>
                    </li>
                </script>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        /*seajs.use('./scripts/chat/job/friendsChat');
        seajs.use('./scripts/friends/friends'); // adder : wang yao*/

        seajs.use();
    </script>
</body>
</html>